.button {
    background: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    font-size: $baseFont;
    line-height: 1.2;
    margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
    transition: all .5s ease-out;
    backface-visibility: hidden;
    text-decoration: none;

    &::after {
        text-decoration: none;
    }


    &--secondary {
        background: $button-secondary-bg-color;
        border: 1px solid $button-secondary-border-color;
        color: $button-secondary-txt-color;
    }
}

.button--link {
    display: inline-block;
    text-decoration: none;

    &::after {
        text-decoration: none;
    }
}

.button--pill {
    font-weight: 300;
    background-color: transparent;
    border: 1px solid $button-pill-color;
    color: $button-pill-color;
    margin: 0 ($space / 2) 0 0;
    padding: .3rem .8rem;

    &:hover {
        background: $button-bg;
        color: $button-color;
    }
}